body {
	
}

#banner {
		width: 100%;
}
.principal{
background: #FF8C00;
padding: 20px;
}

.titulo-principal{
	padding-left: 20px;
}
.titulo-centralizado {
	color: blue;
	text-align: center
}
p {
	text-align: center;
}
missao {
	font-size: 30px
}
em strong {
	color: #C71585;
}

.itens{
	font-style: arial italic
}

.logo {
	background: #FFA500;
	padding: 20px;
	
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 15%;

}

.imagemlogo {
    width: 20%;
}
