body {
	
}

#banner {
	width: 100%;
}
.principal{
	background: #EEE685;
	padding: 30px;
	text-align: center;
}

.titulo-principal{
	padding-left: 40px;
	background: #FFFACD;
	text-align: center;
	font-size: 60px;
	color: #8B008B
}
.titulo-centralizado {
	color: #blue
	text-align: center
}
	p {
	text-align: center;
}
missao {
	font-size: 30px
}
em strong {
	color: #C71585;
}

.itens{
	background: #F0FFF0;
	width: 100%;
	font-style: italic
}

.logo {
	padding: 20px;
	
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 15%;

}

.imagemlogo {
background: #E0FFFF;	
    width: 20%;
}
